.login-modal::before,  .-modal::before{
    content: '';
    background: #000;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.login-modal, .signup-modal{
 	display: none;
    a {
        text-decoration: underline;
        cursor: pointer;
        color: #4B71E2;
        font-size: 12px;
    }

    #error_login {
        font-size: small;
        color: red;
    }
}

#signup {
    color:white;
}

#loginform, #signupform {
    position: fixed;
	top: 20%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	background: #fff;
	border-radius: $spacer * 3; 
	z-index: 99999;
	opacity: 1;	

    button {
        align-self: center;
        margin-top: 5%;
    }
}

.login-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;

    input {
        margin-bottom: $spacer;
        border-radius: $spacer;
    }
}

.user_profile {
    padding: 10px;
}
.user_profile:hover {
    background: #E9F0FD;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.profile_icon {
    width: 36px;
    height: 36px;
    color: #4F5979;
    vertical-align: middle;
}

