header {
    padding: 2%;
    text-align: center;
}

.header-logo {
    display: flex;
    flex-direction: row;
    float: left;
    cursor: pointer;

    &_PEP {
        align-self: flex-end;
        margin-bottom: -3%;
        padding-left: 7%;
    }

    @media (max-width: $sm) {
        &_DO {
            max-width: 30%;
        }
        &_PEP {
            max-width: 30%;
        }
    }

    @media (min-width: $lg) {
        flex-direction: column;

        &_PEP {
            align-self: flex-start;
            padding-top: 27px;
            padding-left: 4%;
        }
    }
}

.menu {
    float: right;
    padding-top: 1%;
}

.menu ul {
    // display: flex;
    align-items: center;
    // width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    font-weight: bold;
    margin-left: $spacer * 3;
}

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: $md) {
    .menu {
        // width: 100%;
        height: auto;
    }

    .menu ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
    	transition: max-height 0.3s;
    }

    .menu ul li {
        text-align: right;
        width: 100%;
        padding: 10px 0 1px 0;
        margin-left: 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        width: 100px;
        // height: inherit;
        top: 1%;
        right: 0;
        line-height: 60px;
    }

    #menuToggle:checked ~ ul {
        max-height: 350px;
    }
    .menu-icon ion-icon {
        font-size: 30px;
    }
}

.user_profile {
    padding: 10px;
    @media (max-width: $md) {
        display: inline-block;
        padding: 0;
    }
}

.user_profile:hover {
    background: #E9F0FD;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;

    @media (max-width: $md) {
        padding: 0;
    }
}

.profile_icon {
    width: 36px;
    height: 36px;
    color: #4F5979;
    vertical-align: middle;
}

.submenu {
    display: none;
}

.submenu {
    position: absolute;
    flex-direction: column;
    text-align: start;
    background: white;
    border-radius: 6px;
    z-index: 5;
    cursor: pointer;
    width: 150px;
    outline: 1px solid #E6E8EE;
    transition: 0.5s ease-in-out;
    &_item {
        font-weight: 500;
        padding: 4px;
        background: white;
        margin: 1px;
        border-top-style: black solid;
    }
    @media screen and (max-width: $md) {
        outline: none;
    }
}

#logout {
    border-top: 1px solid #E6E8EE;
}

.menu li:hover .submenu {
    display: block;
    @media screen and (max-width: $md) {
        display: contents;

        .submenu_item {
            background:none;
        }
    }
}
